@charset "utf-8";
/*  1-homework */

table {
  width: 800px; height: auto; 
  margin: auto;
  border: 1px solid ;
  border-spacing: 0;
  border-collapse: collapse;
}
caption {  margin: 30px; font-size: 1.5rem; font-weight: bold;}

thead { height: 30px;} 
tr>th { 
  font-weight: 100; 
  background-color: rgb(38, 47, 124);
  color: white;
}

td {
  border: 1px solid;
}

tr { height:  25px;}
tr.under_line {border-bottom: 2px solid tomato;}





.color_group { background-color: lightblue;}
   
td img { display: block; margin: auto;}
.align_center { text-align: center;}

.cell_01 { width: 50px; }
.cell_02 { width: 130px; }
.cell_03 { width: 100px; }
.cell_04 { width: 100px; }
.cell_05 { width: 360px; }
.cell_06 { width: 60px; }