@charset "utf-8";
/* z_homework_01.css */

#wrap { 
  width: 100%; height: auto;
  margin: auto; margin-top: 50px;
}

table { 
  width: 800px; height: auto;
  margin: 100px auto;
  border-spacing: 0;
  border-collapse: collapse;
}

tbody { border: 3px; }

.cell_01 { width: 50px; }
.cell_02 { width: 130px; }
.cell_03, .cell_04 { width: 100px; }
.cell_05 { width: 360px; }
.cell_06 { width: 60px; }

caption { 
  margin-bottom: 50px;
  font-size: 1.5rem; font-weight: bold;

}





table .th_border { 
  height: 30px;
  box-sizing:border-box;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
}
tr { width:100%; height: 25px; 
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;}

td { 
  padding: 0;
  border: 1px solid #555; 
}

.thead { background-color: rgb(44, 76, 170)}
.thead>th {  color:white; font-weight: 300;}
.bold_line { border-bottom: 3px solid #333;}
.color_cell { background-color: skyblue;}

.text_center { text-align: center;}
