/* main_page / b_smartphone.css */


@media screen and (max-width: 599px) {
  /* 기준 디바이스 크기 : 320px */ 

  
  /* =======================================================headBox */
  #headBox { height: 3.125rem; padding: 0.5rem 0.625rem;}
  .area_head {height: 100%;}
  #logo { 
    float: none;
    position: absolute; top: 8px; left: 50%;
    width: 60px; height: 35px;
    transform: translateX(-50%);
  }
  .nav_btn { 
    display: block;
    position: relative; z-index: 100;
    width: 35px; height: 35px; 
  }

  #navBox {
    display: none;
    position: absolute; top: 0; left: 0; z-index: 10;
    width: 100%; height: 100vh;
    padding: 8px 30px; box-sizing: border-box;
    background-image: url("../../img/headBox/navBox/smartophone_nav_origin.png");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #navBox::before { 
    content: ""; 
    display: block; z-index: -1;
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%; 
    background-color: var(--primary_01);
    opacity: 0.85;
  }

  #navBox h2 {
    position: relative; z-index: 100;
    width: 60px; height: 35px;
    margin: auto; margin-bottom: 30px;
    background-image: url("../../img/headBox/navBox/logo_white.png");
    background-image: url("../../img/headBox/navBox/logo_white.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .unb, .gnb { 
    float: none; 
    width: 100%; min-width: auto;
    height: auto; 
  }
  .unb { 
    width: 80%;
    margin: auto; margin-bottom: 16px;
    border-bottom: 1px solid #fff;
  }
  .unb li {
    float: left;
    width: calc(50% - 10px); height: auto;
    margin: 0; margin-bottom: 10px;
  }
  .unb li:nth-child(1) { float: left;}
  .unb li:nth-child(2n) { float: right;}
  .unb a { 
    height: 30px; 
    line-height: 30px; font-size: 1rem;
    padding: 0;  color: #fff;}


  .gnb ul { float: none; width: 100%; height: auto;}
  .gnb li { 
    float: none; 
    width: 100%; height: 50px;
    padding:0; margin-bottom: 15px;
  }
  .gnb a { 
    display: block; 
    width: 100%; height: 100%;  
    padding: 0;  color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    line-height: 50px;
    font-size: 18px; font-weight: 400;
  }



  /* =========================================================slideBox */
  #slideBox {
    height: 450px;
    padding-top: 50px; box-sizing: content-box;
  }

  /* _______________________________슬라이드 버튼 */
  .slide_btn {
    min-width: auto; 
    height: 100%;
    margin-top: 50px;
  }
  .slide_btn button {
    top: 0; 
    width: 25px; height: 450px; 
    background-color: var(--gray_op);
  }
  .slide_btn .next {
    background-image: url("../../img/main_page_re/all_device/c_slideBox/next.png");
    background-image: url("../../img/main_page_re/all_device/c_slideBox/next.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .slide_btn .prev {
    background-image: url("../../img/main_page_re/all_device/c_slideBox/prev.png");
    background-image: url("../../img/main_page_re/all_device/c_slideBox/prev.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  /* ________________________________________________ */
  .slide_area {
    height: 100%;
    padding: 0;
    background-image: url("../../img/main_page_re/mobile/c_slideBox/slide_img_3.png");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
  }
  .slide_content {  width: 100%; height: auto;}
  .slide_content_part { 
    left: 0; right: 0;
    width: 250px; height: 212px; 
    margin: 0 auto; 
  }
  .slide_content_part h2 { font-size: 26px; color: var(--black_02); }
  .slide_content_part p { font-size: 14px; color: var(--black_02);}
  .slide_content_part .link { 
    position: absolute; bottom: 0; left: 5px;
    width: 220px; height: 40px;
    border-radius: 8px;
    background-color: var(--primary_01);
  }
  .link a { font-size: 18px; line-height: 40px;}
  .link a i { margin: 0; }

  .slide_img_part, .slide_01 { display: none;}





  /* ===============================================================newBox */
  #newBox {
    height: 100vh; min-height: 550px; max-height: 600px;
    padding-top: 80px; padding-bottom: 90px;
  }
  .title {
    width: 100%; height: auto;
    font-size: 1.75rem;
    text-align: center;
  }
  .area_indicator { bottom: 50px;}
  
  .newBox_area {
    width: 814px; height: 320px;
    margin-top: 52px;
  }
  .newBox_area li {
    width: 260px; margin-left: 17px;
   }



  /* ===============================================================subBox */
  #subBox {
    height: 100vh; min-height: 500px; max-height: 580px; background-color: #fff;
  }
  #subBox>.sub_box_area {
    width: 100%; min-width: auto; height: 100%;
  }
  .sub_area {
    z-index: 100;
    left: 50%; bottom: 20%;
    width: 90%;
    transform: translateX(-50%);
  }
  .sub_area p { min-height: 80px; margin-bottom: 35px;}
  .sub_area_btn { height: auto; }
  .sub_area_btn a { display: block; float: none; margin-bottom: 14px; }
  .sub_area_btn a:nth-child(1) { 
    width: 100%; height: 60px; 
    line-height: 60px;
  font-weight: 700;}
  .sub_area_btn a:nth-child(2) { width: 100%; height: 45px;}


  .sub_area_img{
    width: 100%; height: 100%;
    background-image: url("../../img/main_page_re/mobile/e_subBox/sub_img.png");
    opacity: 0.3;
  }





  /* ================================================================bestBox */
  #bestBox {
    height: auto; min-height: 1610px;
    padding: 0; 
  }
  .best_box_area { 
    position: relative;
    width: 100%; left: 50%;
    transform: translateX(-50%);
    height: auto;  
    padding: 30px; box-sizing: border-box;
    /* background-color: #aff; */
  }
  .best_area {
    float: none;
    width: 100%; height: auto;
    margin: 0; margin-top: 40px;
    /* background-color: #fad; */
  }
  .best_area p {
    margin: 20px 10px 0;
    color: #777777;
  }
  .best_btn { display: none;}

  .more_btn { 
    width: 140px; height: 40px;
  }
  .best_card_list {
    position: relative;
    top: 42px;
    float: none;
    width: 100%; height: auto;
    margin: 0;
  }
  /* .best_card_list ul{ width: 100%; height: auto; background-color: #5553;} */

  .best_card_list a {
    display: block;
    position: relative; left: 50%; transform: translateX(-50%);
    margin: 0; margin-top: 20px;
  }





  /* ==============================================================galleryBox */
  #galleryBox {
    height: auto; min-height: 61.25rem;
    padding-top: 1.5rem;padding-bottom: 8.75rem;
  }
  #galleryBox .area_content {
    width: 100px;
  }

  /* ===============================================================sponsorBox */
  #sponsorBox { height: 25rem; }

  /* ===================================================================footBox */
  #footBox {
    /* position: relative; */
    height: 26.5625rem;
    display: none;
  }




/* ============================================ */
} /* @media screen and (max-width: 599px) */
