/* main_page / d_laptop.css */

@media screen and (min-width:1024px) and (max-width: 1439px) {
  /* 기준 디바이스 크기 : 1024px */
  

/* =======================================================headBox */
#headBox { height: 6.25rem; padding: 1.25rem 2.5rem 0.625rem;}
#logo { width: 7.5rem; height: 4.375rem; }


/* =========================================================slideBox */
#slideBox {
  min-height: 37.5rem;
  padding-top: 6.25rem; 
}

/* ===============================================================newBox */
#newBox {
  height: 43.75rem;
  padding-top: 4.0625rem; padding-bottom: 4.375rem;
}
.title {
  width: 58.75rem;
}

/* ===============================================================subBox */
#subBox {
  height: 21.875rem;
  padding-top: 10.5rem; padding-bottom: 9.5rem;
  padding-left: 2.5rem;
}





/* ================================================================bestBox */
#bestBox {
  width: 100vw; 
  height: 700px;
  padding-top: 175px; padding-bottom: 145px;
  overflow: hidden;
}
.best_box_area { 
  width: 100vw;
  left: 15%; transform: translateX(-10%);
  /* left: 42px; */
  /* min-width: 1040px;  */
  height: 100%;  
  /* background-color: #aff; */
}
.best_area { position: absolute; bottom: 0; height: auto; margin: 0;}
.best_area_inner { margin-bottom: 32px;}



.best_card_list a:last-child { display: none;}

/* ==============================================================galleryBox */
#galleryBox {
  height: 46.875rem;
  padding-top: 5rem; padding-bottom: 8.125rem; 
}

.gallery_content {display: none;}

/* ===============================================================sponsorBox */
#sponsorBox { height: 6.25rem; }

/* ===================================================================footBox */
#footBox { height: 28.125rem;}


} /* @media screen and (min-width:1024px) and (max-width: 1439px) */