/* main_page / e_pc.css */

@media screen and (min-width:1440px) {
  /* 기준 디바이스 크기 : 1440px */
  
/* =======================================================headBox */
#headBox { 
  height: 6.25rem; 
  padding: 1.25rem; padding-bottom: 0.625rem;
}
#logo { width: 7.5rem; height: 4.375rem; }




/* =========================================================slideBox */
#slideBox {
  min-height: 37.5rem; 
  padding-top: 6.25rem; 
}

/* ===============================================================newBox */
#newBox {
  height: 43.75rem;
  padding-top: 4.0625rem; padding-bottom: 4.375rem;
}
.title {
  width: 58.75rem;
}


/* ===============================================================subBox */
#subBox { height: 21.875rem; }
.sub_area { right: 70px; width: 400px; }




/* ================================================================bestBox */
#bestBox {
  height: 43.75rem;
  padding-top: 10.9375rem; padding-bottom: 9.0625rem;
}
.best_card_list a:last-child { display: none;}

/* ==============================================================galleryBox */
#galleryBox {
  height: 46.875rem;
  padding-top: 5rem; padding-bottom: 8.125rem;
}

.gallery_content {display: none;}

/* ===============================================================sponsorBox */
#sponsorBox { height: 6.25rem; }

/* ===================================================================footBox */
#footBox { height: 28.125rem;}



} /* @media screen and (min-width:1440px) */