@charset "utf-8";
/* main_01.css */

/* reset.css================================================ */
body { margin:0;}
h1,h2,h3,h4,h5,h6 { margin: 0;}
ul { margin: 0; padding: 0;}
li { list-style: none;}


/* common ================================================== */
.max_width {
  width: 95%; min-width: 940px; max-width: 1200px;
  margin: auto;
}

#wrap { 
  width: 100%; min-width: 940px;
  height: auto; 
  margin: auto;
}

/* design====================================================== */

/* ______________________________________헤드박스______________ */
#headBox { 
  width: 100%; height: auto;
  padding: 20px 50px; box-sizing: border-box;
  background-color: #555;
}
.area_head{
  width: auto; max-width: 1440px; 
  height: auto;
}
.area_head::after {
  content: ""; display: block; width:100%; height: 0; clear: both;
}
/* __________________________헤드박스 로고 */
#logo {
  float: left;
  width: 120px; height: 70px;
  background-color: #bbb;
}
/* __________________________헤드박스 네비바 */
#navBox {
  float: right;
  width: auto; height: 70px;
  background-color: #bbb;
}
#navBox::after {
  content: ""; display: block; clear: both;
}
/* ____________________________unb 코드 정리하기 */
.unb {
  float: left;
  width: auto;
  height: 26px;
  margin-left:  240px;
  background-color: #ddd;
}
.unb::after{
  content: ""; display: block; width: 100%; height: 0; clear: both;
}
.unb ul { 
  width: 100%;
  padding: 3px 0; box-sizing: border-box; 
}
.unb ul::after {
  content: ""; display: block; width: 100%; height: 0; clear: both;
}
.unb li { 
  float: left;
  width: 50px; height: 20px;
  margin: 0px 10px;
  background-color: #333;
}

/* _______________________________________gnb 정리하기 */
.gnb {
  width: auto; height: 35px;
  margin-top: 35px;
  background-color: #ccc;
}
.gnb ul {
  width: 100%;
  padding: 5px 0; box-sizing: border-box;
}
.gnb ul::after {
  content: ""; display: block; width: 100%; height: 0; clear: both;
}
.gnb li {
  float: left;
  width: 70px; height: 25px;
  margin: 0 8px;
  background-color: #555;
}



/* ________________________________________슬라이드박스____________ */
#slideBox {
  width: 100%; min-width: 940px; 
  height: 600px;
  padding-top: 100px; box-sizing: border-box;
  background-color: #777;
}
#adCon {
  width: 780px; height: 400px;
  margin: auto;
  background-color: #eee;
}


/* ________________________________________뉴박스_____________ */
#newBox {
  width: 100%; min-width: 940px; 
  height: 700px;
  padding-top: 62px; box-sizing: border-box;
  background-color: #eee;
}
.area_title {
  width:  940px; height: 70px;
  margin: auto;
  background-color: #ccc;
}


/* _________________________________________뉴박스 콘텐츠 카드 */
.area_content {
  width:  940px; height: 370px;
  margin: auto; margin-top: 48px;
  background-color: #ccc;
}
.area_newBox::after{
  content: ""; display: block; width:100%; height: 0; clear: both;
}
.area_card {
  float: left;
  width: 300px; height: 370px;
  background-color: aquamarine;
}
.area_content .area_card.center {
  margin: 0 20px;
}

.area_indicator{
  width: 140px; height: 30px;
  margin: auto; margin-top: 50px; 
  background-color: #ccc;
}


/* _______________________________________서브박스_______________ */
#subBox {
  width: 100%; height: 350px;
  padding-top: 50px; box-sizing: border-box;
  background-color: #ccc;
}
#subBox .area {
  height: 300px;
  background-color: #888;
}
.area_subBox {
  float: left;
  width: 50%;
}
.area_subBox.left::after {
  content: ""; display: block; width: 100%; height: 0; clear: both;
}
.area_subBox.right::after {
  content: ""; display: block; width: 100%; height: 0; clear: both;
}
.ad_subBox1 {
  width: 460px; height: 300px;
  background-color: aquamarine;
}
.area_subBox.right {
  padding-top: 52px; box-sizing: border-box;
}
.ad_subBox2 {
  width: 400px; height: 200px;
  margin-right: 70px;
  background-color: aquamarine;
}


/* _________________________________________베스트박스____________ */
#bestBox {
  width: 100%; height: 700px;
  padding-top: 175px; box-sizing: border-box;
  background-color: #eee;
}
#bestBox .area {
  height: 380px;
  background-color: #bbb;
}
/* _________________________________________갤러리박스_______________ */
#galleryBox {
  width: 100%; height: 750px;
  padding-top: 75px; box-sizing: border-box;
  background-color: #666;
}
#galleryBox .area_title {
  background-color: #333;
}
#galleryBox .area_content {
  height: 420px;
  margin-top: 48px;
}
/* _________________________________________스폰서박스______________ */
#sponsorBox {
  width: 100%; height: 100px;
  padding: 10px; box-sizing: border-box;
  background-color: #bbb;
}
.sponsorBox {
  height: 80px;
  background-color: #ddd;
}
/* __________________________________________푸터박스________________ */
#footerBox {
  width: 100%; height: 450px;
  padding-top: 68px; box-sizing: border-box;
  background-color: #333;
}
.area_footer {
  height: auto; 
}
.info_logo {
  width: 120px; height: 70px;
  background-color: #ccc;
}
.info_company {
  width: 940px; height: 135px;
  margin-top: 45px;
  background-color: #ccc;
}