@charset "utf-8";
/* z_01_webLayout_homework.css */

/* ==================================================reset.css */
body,h1,h2,h3,h4,h5,h6 {margin: 0;}
ul,ol,dl,li,dt,dd { margin: 0; padding: 0;}
ol,ul,li { list-style: none;}

/* ==================================================common.css */
.max_width_01 {
  width: 95%; min-width: 940px; max-width: 1280px;
  margin: auto;
}

/* ==============코드 정리하기!!!========================= */
/* =================================================design */
#wrap {
  width: 100%; min-width: 940px; 
  height: auto; 
  background-color: #eee;
}

/* ________________________________________________________headBox */
#headBox {
  width: 100%; height: auto;
  padding: 20px 100px 10px; box-sizing: border-box;
  background-color: #444;
}
.head_box {
  width: 100%; max-width: 1440px; 
  height: auto;
  margin: auto;
}
.head_box::after {
  content: ""; display: block; width: 100%; height: 0; clear: both;
}
#logo {
  float: left;
  width: 120px; height: 70px;
  background-color: #ccc;
}
#navBox {
  float: right;
  width: 510px; height: 70px;
  background-color: #666;
}
#navBox::after {
  content: ""; display: block; clear: both;
}

.unb {
  float: left;
  width: auto;
  height: 26px;
  margin-left:  238px;
  background-color: #ddd;
}
.unb::after{
  content: ""; display: block; width: 100%; height: 0; clear: both;
}
.unb ul { 
  width: 100%;
  padding-top: 3px; box-sizing: border-box; 
}
.unb ul::after {
  content: ""; display: block; width: 100%; height: 0; clear: both;
}
.unb li { 
  float: left;
  width: 50px; height: 20px;
  margin: 0 9px;
  background-color: #333;
}


.gnb {
  width: auto; height: 35px;
  margin-top: 35px;
  background-color: #ccc;
}
.gnb ul {
  width: 100%;
  padding: 5px 0; box-sizing: border-box;
}
.gnb ul::after {
  content: ""; display: block; width: 100%; height: 0; clear: both;
}
.gnb li {
  float: left;
  width: 70px; height: 25px;
  margin: 0 7.5px;
  background-color: #555;
}


/* ______________________________________________________slideBox */
#slideBox {
  width: 100%; height: 600px;
  padding-top:100px; box-sizing: border-box;;
  background-color: #555;
}
#adCon {
  width: 780px; height: 400px;
  margin: auto;
  background-color: #bbb;
}
.area_adCon {
  width: 100%; height: 0;
  padding-top: 175px; box-sizing: border-box;
  margin: auto;
}

button {
  width: 60px; height: 40px;
  background-color: aquamarine;
}
.button.pre {
  float: left;
}
.button.nex {
  float: right;
}

/* _____________________________________________________newBox */
#newBox {
  width: 100%; height: 700px;
  padding-top: 62px; box-sizing: border-box;
  background-color: #666;
}
.area_title {
  height: 70px;
  background-color: #bbb;
}



#newBox .area_content {
  width: 940px; height: 370px;
  margin: 48px auto 50px;
  background-color: #bbb;
}
.area_content>ul {
  width: 100%; height: auto;
}
.area_content>ul::after {
  content: ""; display: block; width: 100%; height: 0; clear: both;
}
.area_content li {
  float: left;
}
li.center {
  margin: 0 20px;
}
.card_list {
  width: 300px; height: 370px;
  background-color: aquamarine;
}


.area_indicator {
  width: 140px; height: 30px;
  margin: 50px auto;
  background-color: #bbb;
}

/* _______________________________________________________subBox */
#subBox {
  width: 100%; height: 350px;
  padding-top: 50px; box-sizing: border-box;
  background-color: #777;
}
#subBox>.area {
  height: 300px;
  background-color: #ccc;
}
.area_subBox {
  float: left;
  width: 50%;
}
.area_subBox.left::after {
  content: ""; display: block; width: 100%; height: 0; clear: both;
}
.area_subBox.right::after {
  content: ""; display: block; width: 100%; height: 0; clear: both;
}
.ad_subBox1 {
  width: 460px; height: 300px;
  background-color: aquamarine;
}
.area_subBox.right {
  padding-top: 52px; padding-right: 70px; box-sizing: border-box;
}
.ad_subBox2 {
  float: right;
  width: 400px; height: 200px;
  background-color: aquamarine;
}

/* ________________________________________________________bestBox */
#bestBox {
  width: 100%; height: 700px;
  padding-top: 175px; box-sizing: border-box;
  background-color: #888;
}
#bestBox>.area {
  height: 380px;
  background-color: #ccc;
}
.area_best_box {
  width: 1070px; height: auto;
  margin: auto;
}
.area_best_box::after {
  content: ""; display: block; width: 100%; height: 0; clear: both;
}
.area_best_box .best_banner {
  float: left;
  width: 240px; height: 380px;
  margin:0 20px;
  background-color: aquamarine;
}

.best_banner.title {
  width: 230px; height: 380px;
  margin-left: 0;
  background-color: darkgoldenrod;
}
.best_banner.right { 
  margin-right: 0;
}
.clear {
  clear: left;
  width: auto; height: 0px;
}


/* ____________________________________________________galleryBox */
#galleryBox {
  width: 100%; height: 750px;
  padding-top: 75px; box-sizing: border-box;
  background-color: #999;
}
#galleryBox>.area_title {
  background-color: #ccc;
}
#galleryBox>.area_content {
  height:  420px;
  margin-top: 48px;
  background-color: #ccc;
}

.gallery_after {
  float: left;
  width: 50%; height: 100%;
}
.gallery_after.righ::after {
  content: ""; display: block; width: 100%; height: 0; clear: both;
}
.gallery_after.left::after {
  content: ""; display: block; width: 100%; height: 0; clear: both;
}
.area_img {
  width: 540px; height: 420px;
  background-color: aquamarine;
}
.gallery_after.left {
  padding-top: 150px; padding-right: 0px; box-sizing: border-box;
}
.area_list {
  float: right;
  width: 320px; height: 270px;
  background-color: aquamarine;
}

/* _______________________________________________________sponsorBox */
#sponsorBox {
  width: 100%; height: 100px;
  padding-top: 10px; box-sizing: border-box;
  background-color: #bbb;
}
.sponsor_area {
  height: 80px;
  background-color: #888;
}
.sponsor_area>ul {
  width: auto; height: auto;
}
.sponsor_area>ul::after {
  content: ""; display: block; width: 100%; height: 0; clear: both;
}
.sponsor_area li {
  float: left;
  margin: 0 10px;
  width: 140px; height: 80px;
  background-color: aquamarine;
}
ul>.left {
  margin-left: 0;
}

/* ______________________________________________________footerBox */
#footerBox {
  width: 100%; height: 450px;
  padding-top: 68px; box-sizing: border-box;
  background-color: #ccc;
}
.area_footer{
  width: 100%; height: auto;
  margin: auto;
}
.info_logo {
  width: 120px; height: 70px;
  margin-bottom: 45px;
  background-color: #777;
}
.info_company {
  width: 100%; height: 135px;
  background-color: #777;
}

.test::after {
  content: ""; display: block; width: 100%; height: 0px; clear: both;
}
.info_wrap {
  float: left;
}
.info_wrap::after {
  content: ""; display: block; width: 100%; height: 0px; clear: both;
}
.info_wrap.second {
  float: right;
}

.info_box.first {
  width: 500px; height: 200px;
  background-color: aquamarine;
}
.info_box.second {
  float: right;
  width: 200px; height: 160px;
  margin-top: 40px;
  background-color: aquamarine;
}